@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  width: 100%;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.font-helvetica {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.ess-ul li{
  color:gray;
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;
  
}
.ess-ul{
  padding: 5px 10px;
  margin-bottom: 10px;
  align-items: center;
}


